In [1]:
import pandas as pd

In [2]:
csv_file = 'spcsv.csv'
csv_df = pd.read_csv(csv_file)
print(csv_df)

   ID            Name  Age   Department  Salary
0   1      John Smith   34  Engineering   75000
1   2        Jane Doe   29    Marketing   62000
2   3     Emily Davis   41           HR   68000
3   4   Michael Brown   39      Finance   72000
4   5   Linda Johnson   31  Engineering   69000
5   6    David Wilson   45    Marketing   80000
6   7     Emma Garcia   28           HR   65000
7   8  James Martinez   36      Finance   71000

In [3]:
#data cleaning pactice
csvfile = 'cleaningdata.csv'
data_df = pd.read_csv(csvfile)

In [4]:
##removing rows
##returning data frrame with no empty cells

new_df = data_df.dropna()

In [5]:
##removeing empty rows  for the original DF 
data_df.dropna(inplace=True)

In [6]:
data_df.head(3)

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0

In [7]:
rd = pd.read_csv('cleaningdata.csv')
print(rd)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [8]:
##filling empty fields of specifice row

rd['Calories'].fillna(130,inplace=True)
cd =rd.dropna()
print(rd)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

C:\Users\ajukh\AppData\Local\Temp\ipykernel_12400\2274139075.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rd['Calories'].fillna(130,inplace=True)

In [9]:
rd["Date"].fillna('2024/11/27',inplace=True)
print(rd)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     130.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45  2024/11/27    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     130.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

C:\Users\ajukh\AppData\Local\Temp\ipykernel_12400\1867460256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rd["Date"].fillna('2024/11/27',inplace=True)

In [10]:
print(rd['Maxpulse'].median())
print(rd['Maxpulse'].mean())
print(rd['Maxpulse'].mode()[0])

127.5
128.5
120

In [11]:
##changing the format of a data

rd["Date"] = pd.to_datetime(rd['Date'])
print(rd)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     130.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45 2024-11-27    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     130.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [12]:
rd.dropna(subset=['Date'],inplace=True)

In [13]:
#chaning data of specific col and row
rd.loc[7,'Duration'] = 45
print(rd)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     130.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45 2024-11-27    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     130.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [14]:
# checking for valid data and changing if invalid
for i in rd.index:
    if rd.loc[i,'Duration']>58:
        rd.loc[i,'Duration']=55
print(rd)

    Duration       Date  Pulse  Maxpulse  Calories
0         55 2020-12-01    110       130     409.1
1         55 2020-12-02    117       145     479.0
2         55 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         55 2020-12-06    102       127     300.0
6         55 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         55 2020-12-10     98       124     269.0
10        55 2020-12-11    103       147     329.3
11        55 2020-12-12    100       120     250.7
12        55 2020-12-12    100       120     250.7
13        55 2020-12-13    106       128     345.3
14        55 2020-12-14    104       132     379.3
15        55 2020-12-15     98       123     275.0
16        55 2020-12-16     98       120     215.2
17        55 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     130.0
19        55 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        55 2020-12-21    108       131     364.2
22        45 2024-11-27    100       119     282.0
23        55 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        55 2020-12-25    102       126     334.5
26        55 2020-12-26    100       120     250.0
27        55 2020-12-27     92       118     241.0
28        55 2020-12-28    103       132     130.0
29        55 2020-12-29    100       132     280.0
30        55 2020-12-30    102       129     380.3
31        55 2020-12-31     92       115     243.0

In [15]:
#checking for invalid data and droping if invalid
for x in rd.index:
    if rd.loc[x,'Duration']>55:
        rd.drop(x,inplace=True)
print(rd)

    Duration       Date  Pulse  Maxpulse  Calories
0         55 2020-12-01    110       130     409.1
1         55 2020-12-02    117       145     479.0
2         55 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         55 2020-12-06    102       127     300.0
6         55 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         55 2020-12-10     98       124     269.0
10        55 2020-12-11    103       147     329.3
11        55 2020-12-12    100       120     250.7
12        55 2020-12-12    100       120     250.7
13        55 2020-12-13    106       128     345.3
14        55 2020-12-14    104       132     379.3
15        55 2020-12-15     98       123     275.0
16        55 2020-12-16     98       120     215.2
17        55 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     130.0
19        55 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        55 2020-12-21    108       131     364.2
22        45 2024-11-27    100       119     282.0
23        55 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        55 2020-12-25    102       126     334.5
26        55 2020-12-26    100       120     250.0
27        55 2020-12-27     92       118     241.0
28        55 2020-12-28    103       132     130.0
29        55 2020-12-29    100       132     280.0
30        55 2020-12-30    102       129     380.3
31        55 2020-12-31     92       115     243.0