# working with date time

In [1]:
import pandas as pd

In [2]:
import datetime as dt

# The Python datetime module

In [3]:
someday = dt.date(2024,1,22)

In [4]:
type(someday)

datetime.date

In [7]:
someday.year
someday.month
someday.day

22

In [8]:
sometime = dt.datetime(2000,1,16,16,30,30)

In [9]:
sometime

datetime.datetime(2000, 1, 16, 16, 30, 30)

In [14]:
sometime.second

30

# The pandas Timestamp Object

In [15]:
pd.Timestamp('1998-04-16')

Timestamp('1998-04-16 00:00:00')

In [16]:
pd.Timestamp('2000/01/16')

Timestamp('2000-01-16 00:00:00')

In [17]:
pd.Timestamp('2000.01.16')

Timestamp('2000-01-16 00:00:00')

In [18]:
pd.Timestamp('13.12.2015')

Timestamp('2015-12-13 00:00:00')

In [19]:
pd.Timestamp('12.13.2015')

Timestamp('2015-12-13 00:00:00')

In [20]:
pd.Timestamp('12.13.2015 08:35:19')

Timestamp('2015-12-13 08:35:19')

In [22]:
pd.Timestamp('12.13.2015 8:35 PM')

Timestamp('2015-12-13 20:35:00')

# The Pandas DateTimeIndex Object

In [23]:
dates = [
    '2012/04/16',
    '2002-03-10',
    '1998-04-16'
]

In [24]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2012-04-16', '2002-03-10', '1998-04-16'], dtype='datetime64[ns]', freq=None)

In [25]:
dates = [dt.date(2012,12,2), dt.date(1998,4,16), dt.date(2000,1,1)]

In [26]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2012-12-02', '1998-04-16', '2000-01-01'], dtype='datetime64[ns]', freq=None)

In [27]:
values = [100,200,300]
pd.DataFrame(values, index = dates, columns = ['values'])

            values
2012-12-02     100
1998-04-16     200
2000-01-01     300

# The pd.to_datetime() Method

In [28]:
pd.to_datetime('2022-04-16')
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2016,4,16,7,0,0))
pd.to_datetime('4th july, 2016')
pd.to_datetime('2016')

Timestamp('2016-01-01 00:00:00')

In [29]:
dates = pd.Series(['4th july, 2016', '2016', '2022-04-16'])

In [30]:
pd.to_datetime(dates)

C:\Users\vvick\AppData\Local\Temp\ipykernel_11360\2189660946.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(dates)

0   2016-07-04
1   2016-01-01
2   2022-04-16
dtype: datetime64[ns]

# Create Range of Dates with the pd.date_range() Method, Part 1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
pd.date_range(start = '2024-01-20', end = '2024-02-20', freq = 'W')

DatetimeIndex(['2024-01-21', '2024-01-28', '2024-02-04', '2024-02-11',
               '2024-02-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
pd.date_range(start = '2024-01-20', end = '2024-02-20', freq = 'W-SUN')

DatetimeIndex(['2024-01-21', '2024-01-28', '2024-02-04', '2024-02-11',
               '2024-02-18'],
              dtype='datetime64[ns]', freq='W-SUN')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [35]:
pd.date_range(start = '2024-01-20', periods = 20, freq = 'W')

DatetimeIndex(['2024-01-21', '2024-01-28', '2024-02-04', '2024-02-11',
               '2024-02-18', '2024-02-25', '2024-03-03', '2024-03-10',
               '2024-03-17', '2024-03-24', '2024-03-31', '2024-04-07',
               '2024-04-14', '2024-04-21', '2024-04-28', '2024-05-05',
               '2024-05-12', '2024-05-19', '2024-05-26', '2024-06-02'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
pd.offsets.__all__

# Create Range of Dates with the pd.date_range() Method, Part 3

In [36]:
pd.date_range(end = '2024-01-20', periods = 20, freq = 'W-sun')

DatetimeIndex(['2023-09-03', '2023-09-10', '2023-09-17', '2023-09-24',
               '2023-10-01', '2023-10-08', '2023-10-15', '2023-10-22',
               '2023-10-29', '2023-11-05', '2023-11-12', '2023-11-19',
               '2023-11-26', '2023-12-03', '2023-12-10', '2023-12-17',
               '2023-12-24', '2023-12-31', '2024-01-07', '2024-01-14'],
              dtype='datetime64[ns]', freq='W-SUN')

# The .dt Accessor

The .dt accessor on a Series of Timestamp object allows us to access specific datetime properties,
much like the .str accessor allows us to call specific methods on a Series of strings.
In this lesson, we will explore popular attributes such as .day, .weekday_name, and .month.

In [39]:
dates = pd.date_range(start = '2024-01-20', periods = 60, freq = 'D')
dates

DatetimeIndex(['2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23',
               '2024-01-24', '2024-01-25', '2024-01-26', '2024-01-27',
               '2024-01-28', '2024-01-29', '2024-01-30', '2024-01-31',
               '2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04',
               '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29', '2024-03-01', '2024-03-02', '2024-03-03',
               '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07',
               '2024-03-08', '2024-03-09', '2024-03-10', '2024-03-11',
               '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15',
               '2024-03-16', '2024-03-17', '2024-03-18', '2024-03-19'],
              dtype='datetime64[ns]', freq='D')

In [40]:
s = pd.Series(dates)
s

0    2024-01-20
1    2024-01-21
2    2024-01-22
3    2024-01-23
4    2024-01-24
5    2024-01-25
6    2024-01-26
7    2024-01-27
8    2024-01-28
9    2024-01-29
10   2024-01-30
11   2024-01-31
12   2024-02-01
13   2024-02-02
14   2024-02-03
15   2024-02-04
16   2024-02-05
17   2024-02-06
18   2024-02-07
19   2024-02-08
20   2024-02-09
21   2024-02-10
22   2024-02-11
23   2024-02-12
24   2024-02-13
25   2024-02-14
26   2024-02-15
27   2024-02-16
28   2024-02-17
29   2024-02-18
30   2024-02-19
31   2024-02-20
32   2024-02-21
33   2024-02-22
34   2024-02-23
35   2024-02-24
36   2024-02-25
37   2024-02-26
38   2024-02-27
39   2024-02-28
40   2024-02-29
41   2024-03-01
42   2024-03-02
43   2024-03-03
44   2024-03-04
45   2024-03-05
46   2024-03-06
47   2024-03-07
48   2024-03-08
49   2024-03-09
50   2024-03-10
51   2024-03-11
52   2024-03-12
53   2024-03-13
54   2024-03-14
55   2024-03-15
56   2024-03-16
57   2024-03-17
58   2024-03-18
59   2024-03-19
dtype: datetime64[ns]

In [42]:
s[s.dt.is_month_end]

11   2024-01-31
40   2024-02-29
dtype: datetime64[ns]

In [43]:
mask = s.dt.is_month_start
s[mask]

12   2024-02-01
41   2024-03-01
dtype: datetime64[ns]

# Install Pandas-datareader Library

In [45]:
from pandas_datareader import data

# Import Financial Dataset with pandas_datareader Library

In [ ]:
data.DataReader('GS10', data_source='fred', start='2022-01-01', end='2022-12-31')

In [46]:
import yfinance as yf

In [47]:
msft = yf.Ticker("MSFT")

In [53]:
stocks = msft.history(period="1mo")
stocks.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28 00:00:00-05:00,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29 00:00:00-05:00,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0

In [51]:
stocks.index
stocks.values
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [54]:
stocks.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28 00:00:00-05:00,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29 00:00:00-05:00,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09 00:00:00-05:00,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0

# selecting rows from a dataframe with datetime as index

In [55]:
type(stocks.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [56]:
stocks.index = pd.DatetimeIndex(stocks.index.astype('str').str.split(" ").str.get(0).str.replace("['","").str.replace("',",""))

In [57]:
stocks.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0

In [58]:
stocks.loc['2023-12-26']

Open            3.750000e+02
High            3.769400e+02
Low             3.735000e+02
Close           3.746600e+02
Volume          1.267310e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2023-12-26 00:00:00, dtype: float64

In [59]:
stocks.loc[pd.Timestamp('2023-12-26')]

Open            3.750000e+02
High            3.769400e+02
Low             3.735000e+02
Close           3.746600e+02
Volume          1.267310e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2023-12-26 00:00:00, dtype: float64

In [60]:
stocks.iloc[0]

Open            3.750000e+02
High            3.769400e+02
Low             3.735000e+02
Close           3.746600e+02
Volume          1.267310e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2023-12-26 00:00:00, dtype: float64

In [61]:
stocks.iloc[-1]

Open            4.000200e+02
High            4.006200e+02
Low             3.935906e+02
Close           3.965100e+02
Volume          2.560394e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2024-01-22 00:00:00, dtype: float64

In [62]:
stocks.loc[['2023-12-26','2023-12-29']]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26,375.0,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-29,376.0,377.160004,373.480011,376.040009,18723000,0.0,0.0

In [63]:
stocks.loc['2023-12-26':]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0
2024-01-03,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0
2024-01-04,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0
2024-01-05,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0
2024-01-10,376.369995,384.170013,376.320007,382.769989,25514200,0.0,0.0
2024-01-11,386.000000,390.679993,380.380005,384.630005,27850800,0.0,0.0
2024-01-12,385.489990,388.679993,384.649994,388.470001,21645700,0.0,0.0
2024-01-16,393.660004,394.029999,387.619995,390.269989,27202300,0.0,0.0
2024-01-17,387.980011,390.109985,384.809998,389.470001,22234100,0.0,0.0
2024-01-18,391.720001,393.989990,390.119995,393.869995,23392100,0.0,0.0
2024-01-19,395.760010,398.670013,393.500000,398.670013,29272000,0.0,0.0
2024-01-22,400.019989,400.619995,393.590607,396.510010,25603941,0.0,0.0

In [64]:
days = pd.date_range(start = '2023-12-26', end='2023-12-29', freq = 'D')

In [65]:
days

DatetimeIndex(['2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29'], dtype='datetime64[ns]', freq='D')

In [66]:
mask = stocks.index.isin(days)

In [67]:
stocks[mask]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0

# timestamp object attributes and methods

In [68]:
someday = stocks.index[10]

In [69]:
someday

Timestamp('2024-01-10 00:00:00')

In [70]:
someday.day

10

In [71]:
someday.month

1

In [72]:
stocks.index.day

Index([26, 27, 28, 29, 2, 3, 4, 5, 8, 9, 10, 11, 12, 16, 17, 18, 19, 22], dtype='int32', name='Date')

In [73]:
stocks.insert(0,'Day of the week', stocks.index.day_name())

In [74]:
stocks.head()

,Day of the week,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-12-26,Tuesday,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,Wednesday,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,Thursday,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,Friday,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02,Tuesday,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0

# The pd.DateOffset Object

In [75]:
stocks.head()

,Day of the week,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-12-26,Tuesday,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,Wednesday,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,Thursday,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,Friday,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02,Tuesday,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0

In [76]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2023-12-31', '2024-01-01', '2024-01-02', '2024-01-03',
               '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-21', '2024-01-22', '2024-01-23',
               '2024-01-24', '2024-01-27'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [77]:
stocks.index + pd.DateOffset(weeks=5)

DatetimeIndex(['2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15',
               '2024-02-16', '2024-02-20', '2024-02-21', '2024-02-22',
               '2024-02-23', '2024-02-26'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [79]:
stocks.index - pd.DateOffset(years=1, weeks=1, days=1)

DatetimeIndex(['2022-12-18', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-31', '2023-01-01', '2023-01-02', '2023-01-03',
               '2023-01-04', '2023-01-08', '2023-01-09', '2023-01-10',
               '2023-01-11', '2023-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

# Timeseries Offsets

In [80]:
stocks.head(10)

,Day of the week,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-12-26,Tuesday,375.000000,376.940002,373.500000,374.660004,12673100,0.0,0.0
2023-12-27,Wednesday,373.690002,375.059998,372.809998,374.070007,14905400,0.0,0.0
2023-12-28,Thursday,375.369995,376.459991,374.160004,375.279999,14327000,0.0,0.0
2023-12-29,Friday,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0
2024-01-02,Tuesday,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0
2024-01-03,Wednesday,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0
2024-01-04,Thursday,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0
2024-01-05,Friday,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08,Monday,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09,Tuesday,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0

In [81]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [82]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [83]:
from pandas.tseries import offsets

In [84]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01', '2024-02-01', '2024-02-01',
               '2024-02-01', '2024-02-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [85]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2023-12-29', '2023-12-29', '2023-12-29', '2024-01-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31', '2024-01-31', '2024-01-31',
               '2024-01-31', '2024-01-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [86]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2023-11-30', '2023-11-30', '2023-11-30', '2023-11-30',
               '2023-12-29', '2023-12-29', '2023-12-29', '2023-12-29',
               '2023-12-29', '2023-12-29', '2023-12-29', '2023-12-29',
               '2023-12-29', '2023-12-29', '2023-12-29', '2023-12-29',
               '2023-12-29', '2023-12-29'],
              dtype='datetime64[ns]', name='Date', freq=None)

# The Timedelta Object

In [87]:
time_a = pd.Timestamp('2024-01-20')
time_b = pd.Timestamp('2024-01-21')

In [88]:
time_b - time_a

Timedelta('1 days 00:00:00')

In [89]:
time_a = pd.Timestamp('2024-01-20 1:00:00PM')
time_b = pd.Timestamp('2024-01-20 2:00:00PM')

In [90]:
time_b - time_a

Timedelta('0 days 01:00:00')

In [91]:
time_a - time_b

Timedelta('-1 days +23:00:00')

In [92]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [93]:
time_a + pd.Timedelta(days = 3)

Timestamp('2024-01-23 13:00:00')

In [94]:
pd.Timedelta(days = 3, hours=1, minutes=1)

Timedelta('3 days 01:01:00')

In [95]:
pd.Timedelta('3 days 1 hour 1 minute')

Timedelta('3 days 01:01:00')

# Timedeltas in a Dataset

In [96]:
delivery = pd.read_csv(r"C:\Users\vvick\Downloads\delivery.csv" ,parse_dates=['Order_Date'], usecols = ['Order_Date', 'Time_taken(min)'])
delivery.head()

C:\Users\vvick\AppData\Local\Temp\ipykernel_11360\1453012697.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  delivery = pd.read_csv(r"C:\Users\vvick\Downloads\delivery.csv" ,parse_dates=['Order_Date'], usecols = ['Order_Date', 'Time_taken(min)'])

  Order_Date Time_taken(min)
0 2022-03-19        (min) 24
1 2022-03-25        (min) 33
2 2022-03-19        (min) 26
3 2022-04-05        (min) 21
4 2022-03-26        (min) 30

In [97]:
delivery['Time_taken(min)'] = pd.to_timedelta(delivery['Time_taken(min)'].astype(str).str.split(" ").str.get(1).str.split(".").str.get(-1).str.lstrip('0'))

In [98]:
delivery

      Order_Date           Time_taken(min)
0     2022-03-19 0 days 00:00:00.000000024
1     2022-03-25 0 days 00:00:00.000000033
2     2022-03-19 0 days 00:00:00.000000026
3     2022-04-05 0 days 00:00:00.000000021
4     2022-03-26 0 days 00:00:00.000000030
...          ...                       ...
45588 2022-03-24 0 days 00:00:00.000000032
45589 2022-02-16 0 days 00:00:00.000000036
45590 2022-03-11 0 days 00:00:00.000000016
45591 2022-03-07 0 days 00:00:00.000000026
45592 2022-03-02 0 days 00:00:00.000000036

[45593 rows x 2 columns]

In [99]:
delivery['delivery_time'] = delivery['Order_Date'] + delivery['Time_taken(min)']

In [100]:
delivery

      Order_Date           Time_taken(min)                 delivery_time
0     2022-03-19 0 days 00:00:00.000000024 2022-03-19 00:00:00.000000024
1     2022-03-25 0 days 00:00:00.000000033 2022-03-25 00:00:00.000000033
2     2022-03-19 0 days 00:00:00.000000026 2022-03-19 00:00:00.000000026
3     2022-04-05 0 days 00:00:00.000000021 2022-04-05 00:00:00.000000021
4     2022-03-26 0 days 00:00:00.000000030 2022-03-26 00:00:00.000000030
...          ...                       ...                           ...
45588 2022-03-24 0 days 00:00:00.000000032 2022-03-24 00:00:00.000000032
45589 2022-02-16 0 days 00:00:00.000000036 2022-02-16 00:00:00.000000036
45590 2022-03-11 0 days 00:00:00.000000016 2022-03-11 00:00:00.000000016
45591 2022-03-07 0 days 00:00:00.000000026 2022-03-07 00:00:00.000000026
45592 2022-03-02 0 days 00:00:00.000000036 2022-03-02 00:00:00.000000036

[45593 rows x 3 columns]