In [2]:
import pandas as pd
d=pd.read_excel("C:\\Users\\gauta\OneDrive\\Desktop\\dinesh_gokaram\\pandas\\emp_dataset.xlsx")
df=pd.DataFrame(d)

In [3]:
print(df)

   ID     Name  Age  Gender         City  Salary
0   1    Alice   25  Female     New York   50000
1   2      Bob   30    Male  Los Angeles   60000
2   3  Charlie   35    Male      Chicago   70000
3   4    David   28    Male      Houston   55000
4   5      Eve   32  Female        Miami   62000

In [4]:
#adding columns
Name_City = df['Name'] + df['City']
print(Name_City)

0     AliceNew York
1    BobLos Angeles
2    CharlieChicago
3      DavidHouston
4          EveMiami
dtype: object

In [6]:
#calculating mean
mean_value = df['Salary'].mean()
print(mean_value)

59400.0

In [7]:
#filtering
filtered_df = df[df['Age'] > 30]
print(filtered_df)

   ID     Name  Age  Gender     City  Salary
2   3  Charlie   35    Male  Chicago   70000
4   5      Eve   32  Female    Miami   62000

In [8]:
#sorting
sorted_df = df.sort_values(by='Salary', ascending=False)
print(sorted_df)

   ID     Name  Age  Gender         City  Salary
2   3  Charlie   35    Male      Chicago   70000
4   5      Eve   32  Female        Miami   62000
1   2      Bob   30    Male  Los Angeles   60000
3   4    David   28    Male      Houston   55000
0   1    Alice   25  Female     New York   50000

In [24]:
#inserting a row called "role"
df.insert(2, "Role", ['Analyst', 'Executive','Ceo', 'Freelancer', 'Analyst'], True)
print(df)

   ID     Name        Role        Role  Age  Gender         City  Salary
0   1    Alice     Analyst     Analyst   25  Female     New York   50000
1   2      Bob   Executive   Executive   30    Male  Los Angeles   60000
2   3  Charlie         Ceo         Ceo   35    Male      Chicago   70000
3   4    David  Freelancer  Freelancer   28    Male      Houston   55000
4   5      Eve     Analyst     Analyst   32  Female        Miami   62000

In [34]:
#dropping a row from th table
data.drop(['Role'], axis = 1, inplace = false)

print(data.head())

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [19]:
#Creating a series using the Pandas Library.
import pandas as pd 
import numpy as np

# Creating empty series 
ser = pd.Series() 
print("Pandas Series:",ser) 

data = np.array(['i', 'n', 'n', 'o', 'v', 'a', 'p','a', 't','h']) 

ser = pd.Series(data) 
print("Pandas Series:\n", ser)

Pandas Series: Series([], dtype: object)
Pandas Series:
 0    i
1    n
2    n
3    o
4    v
5    a
6    p
7    a
8    t
9    h
dtype: object